
    body {
    background-color: antiquewhite;
}
.first {
    display: grid;
    grid-template-columns: 350px 1fr;
}
.text {
    width: 300px;
    
}
h1 {
    color: rgb(70, 4, 4);
    display: flex;
    justify-content:  center;
    font-size: 17px;
}

p {
    color: rgb(6, 55, 6);
    margin-top: 0px;
    text-indent: 20px;
    font-size: 15px;
}
iframe {
    width: 330px;
    height: 220px
    
}
